@charset "UTF-8";
/*!
  * Author: うつせみ
  * LastUpdate: 2017.Aug.25th
*/

/* text color
   ========================================================================== */
$t-color-primary:rgba(0,0,0,.87);
$t-color-secondary:rgba(0,0,0,.54);
$t-color-less:rgba(0,0,0,.26);

/* theme color
   ========================================================================== */
$color-primary700: #303F9F;
$color-primary500: #3F51B5;
$color-primary300: #7986CB;

$color-secondary700: #512DA8;
$color-secondary500: #673AB7;
$color-secondary300: #9575CD;

$color-lessA700: #C51162;
$color-lessA500: #F50057;
$color-lessA300: #FF4081;

/* full color
   ========================================================================== */
$color-red:#F44336;
$color-pink:#E91E63;
$color-purple:#9C27B0;
$color-deep-purple:#673AB7;
$color-indigo:#3F51B5;
$color-blue:#2196F3;
$color-light-blue:#03A9F4;
$color-cyan:#00BCD4;
$color-teal:#009688;
$color-green:#4CAF50;
$color-light-green:#8BC34A;
$color-lime:#CDDC39;
$color-yellow:#FFEB3B;
$color-amber:#FFC107;
$color-orange:#FF9800;
$color-deep-orange:#FF5722;
$color-brown:#795548;

/* grey
   ========================================================================== */
$color-grey900:#212121;
$color-grey800:#424242;
$color-grey700:#616161;
$color-grey600:#757575;
$color-grey500:#9E9E9E;
$color-grey400:#BDBDBD;
$color-grey300:#E0E0E0;
$color-grey200:#EEEEEE;
$color-grey100:#F5F5F5;
$color-grey50:#FAFAFA;

$color-blue-grey900:#263238;
$color-blue-grey800:#37474F;
$color-blue-grey700:#455A64;
$color-blue-grey600:#546E7A;
$color-blue-grey500:#607D8B;
$color-blue-grey400:#78909C;
$color-blue-grey300:#90A4AE;
$color-blue-grey200:#B0BEC5;
$color-blue-grey100:#CFD8DC;
$color-blue-grey50:#ECEFF1;