@import "../core/mixins";
@import "../core/colors";
@import "../core/gradients";

* {
  @extend %clear-font;
}

.page {
  background: rgba($color-primary500,.1);
}

.header {
  .header-nav {
    .nav-list {
      li {
        img {
          @include element-size(.8rem);
          display: inline;
          padding-right: .2rem;
        }
      }
      li.active:after, li:hover:after {
        content: '';
        @include element-psi-absolute(null,0,.4rem,0);
        @include element-border(null,2px solid $color-yellowA700);
      }
    }
  }
  @at-root .header-ufo {
    @include element-psi-absolute(0,0,0,0);
    @extend .zindex-24;
    background: none;
  }
}

.cover {
  @include element-size(auto,30rem);
  @include element-space(0 auto 1rem auto);
  @include gradient-directional($color-primary300,$color-indigo700,30deg);
  .cover-img {
    @include element-psi-absolute(0,0,0,0);
    @include element-horizontally(30rem,center);
    background: url("../img/cover_bg.png") no-repeat center;
    background-size: cover;
  }
  .cover-logo {
    @include element-image-size(13rem);
    @include inline-block();
  }
}

// Grid default style
.grid {
  [class^=col] {
    background: $color-red50;
    border: 1px solid $color-red100;
  }
}