@charset "UTF-8";
/*!
  * Author: 云手
  * GitHub: https://github.com/CloudHand233/ch233-not.included---
  * LastUpdate: 2017.Aug.25th
  * Version: 3.0.0
*/

@import "../core/mixins";
@import "../core/colors";
@import "../core/gradients";
@import "../core/breakpoints";

* {
  @extend %clear-font;
}

.page {
  background: rgba($color-primary500,.1);
}

.header {
  .header-nav {
    .nav-list {
      li {
        img {
          @include element-size(.8rem);
          display: inline;
          padding-right: .2rem;
        }
      }
      li.active:after, li:hover:after {
        content: '';
        @include element-psi-absolute(null,0,.4rem,0);
        @include element-border(null,2px solid $color-yellowA700);
      }
    }
  }
  @at-root .header-ufo {
    @include element-psi-absolute(0,0,0,0);
    @extend .zindex-24;
    background: none;
  }
  .sm-header-btn {
    display: none;
  }
}

.header {
  @include media-respond(sm) {
    .header-nav {
      .nav-list {
        @include element-psi-fixed(0,0,0,0);
        background: rgba(0,0,0,.87);
        display: none;
        li {
          @include element-size();
          margin-left: 5rem;
          @include element-horizontally(3.4rem);
        }
      }
    }
    .sm-header-btn {
      display: block;
      @include element-psi-absolute(1rem, null, null, 1rem);
      @include element-text(1.2, rgba(255, 255, 255, .87), center);
      background: rgba($color-primary700, .54);
      @include border-radius(.3rem);
      cursor: pointer;
      i {
        font-size: 1.6rem;
        @include element-space(0, .4rem);
      }
    }
  }
}

.cover {
  @include element-size(auto,24rem);
  @include element-space(0 auto);
  @include gradient-directional($color-primary300,$color-indigo700,30deg);
  @include element-border(null,null,null,.8rem solid $color-amber300);
  .cover-img {
    @include element-psi-absolute(0,0,0,0);
    @include element-horizontally(24rem,center);
    overflow: hidden;
  }
  .cover-logo {
    @include element-image-size(13rem);
    @include inline-block();
    @include element-space(-4rem 0 0 0);
  }
  .cover-theme {
    @include element-image-size(34rem);
    @include element-psi-absolute(null,null,0,50%);
    @include element-space(0 0 0 -17rem);
  }
  #coverImg {
    @include element-psi-absolute(0,null,null,0);
  }
  .version-card {
    @include element-size(16rem,2rem);
    @include element-horizontally(2rem,center);
    @include element-psi-absolute(null,null,4rem,50%);
    @include element-space(0 0 0 -9rem);
    background: rgba(255,255,255,.87);
    @include element-text(1.2,null,center,bold);
    @include element-link(rgba($color-primary500,.87));
    a {
      @include element-size(100%,100%);
      display: block;
    }
  }
}

.default-page-darken {
  background: rgba(darken($color-deep-purple800,26%),.87);
}

.ch233-tools {
  @include element-size();
  @include element-space(0 4rem 1rem);
  text-align: justify;
  display: table;
  li {
    @include element-size(25%);
    display: table-cell;
    text-align: center;
    img {
      @include element-size(50%);
      @include element-space(0 auto);
    }
  }
  // media breakpoints md >768 <991
  @include media-respond(md) {
    @include element-size();
    @include element-space(0 4rem 1rem);
    text-align: center;
    display: block;
    li {
      @include element-size(48%);
      @include inline-block();
      @include element-space(0 0 1.6rem 0);
      text-align: center;
      img {
        @include element-size(50%);
        @include element-space(0 auto);
      }
    }
  }
  // media breakpoints md <767
  @include media-respond(sm) {
    @include element-size();
    @include element-space(0 4rem 1rem);
    text-align: center;
    display: block;
    li {
      @include element-size(48%);
      @include inline-block();
      @include element-space(0 0 1.6rem 0);
      text-align: center;
      img {
        @include element-size(50%);
        @include element-space(0 auto);
      }
    }
  }
}

.ch233-tools-t {
  text-align: center;
  @include element-space(0 0 3rem 0);
  > p {
    @include element-text(1.6,rgba($color-indigo200,.54),center);
    font-weight: bold;
    @include element-space(.6rem 0);
  }
  > p + p {
    @include element-text(.8,rgba($color-255,.54),center);
    font-weight: normal;
  }
}

.card-list-wrapper {
  @include element-space(0,0);
  .grid {
    @include element-space(0,0);
  }
  .card-li {
    //padding-top: 0;
    @include border-radius(.2rem);
    .card-li-img {
      width: 98%;
      cursor: pointer;
      margin: 0 auto;
    }
    .card-li-tt {
      @include element-text(.7,rgba(0,0,0,.87),center);
      @include element-space(0,.6rem 0 0 0);
    }
  }
}

.card-1-tt {
  @include element-horizontally(2.2rem);
  @include element-text(.8,rgba(0,0,0,.54),center);
  font-weight: bold;
  i,span {
    @include inline-block();
  }
}

.team-list-wrapper {
  @include element-size();
  @include element-space(0rem 1rem 1rem);
  @include element-text(.7,rgba(0,0,0,.87),justify);
  li {
    @include element-size(31%);
    padding-left: 1%;
    @include inline-block();
    @include element-horizontally(2.4rem);
    background: $color-primary300;
    @include element-link(rgba(255,255,255,.87));
    @include element-space(1rem 0 0 0);
    a {
      @include element-size(100%,100%);
    }
    span,i {
      @include inline-block();
    }
    span {
      padding-left: .4rem;
    }
  }
  li.last-li {
    height: 0;
  }
  @include media-respond(sm) {
    li {
      @include element-size(46%);
      padding-left: 1%;
      @include inline-block();
    }
  }
}

.foot-map {
  @include element-space(0,0 0 1rem 0);
  ul {
    @include element-space(.6rem 0 0 0,.8rem 0);
    @include element-text(.7,rgba(0,0,0,.54),center);
    @include border-radius(.4rem);
    background: rgba($color-primary300,.1);
    li {
      @include inline-block();
      @include element-horizontally(1.4rem);
      @include element-link(rgba(0,0,0,.54));
      @include element-space(0 1rem);
    }
  }
}
.foot-logo {
  img {
    @include element-size(5rem);
    @include element-space(1rem auto);
  }
}

// Grid default style
.grid-show {
  [class^=col] {
    background: $color-red50;
    border: 1px solid $color-red100;
  }
}

.header-guide {
  @include element-size();
  @include gradient-directional($color-primary300,$color-indigo700,30deg);
}